<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <p>ABOUT</p>
      <button ion-button full large (click)="createAndWriteFile()">create and write</button>
      <button ion-button full large (click)="appendToFile()">override file content</button>
      <button ion-button full large (click)="deleteFile()">reove file</button>

      <h1>File Navigation</h1>
      <div class="myList">
      <button class="innerList" ion-button full large (click)="goUp()">
        Go up
      </button>
    
      <ion-list class="innerList" *ngFor="let item of items">
    
        <ion-list-header *ngIf="item.isDirectory" (click)="goDown(item)">
          Directory: {{item.name}}
        </ion-list-header>
    
        <ion-item *ngIf="item.isFile">
          File: {{item.name}}
        </ion-item>
    
      </ion-list>
    </div>
</ion-content>
